{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>My Home Page</h1>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit.
Obcaecati, iste enim labore voluptates ea quia, hic
suscipit amet, vel praesentium dolor aliquid.
</p>
{% endblock %}